@font-face{
    font-family: Ubuntu-Regular;
    src: url(../font/Ubuntu-Regular.ttf)
}

.menu-principal{
    background-color: #bbc2c7;
}

.menu-superior{
    color: #FFF;
}

.nav-link{
    color: #FFF;
}

.logo{
    width: 90px;
    height: 90px;
}

.menu{
    color: #000;
    position: relative;
}

.carousel .slide{
    background-color: #272d33;
    margin-bottom: 0;
}

.carousel-text{
    color:#FFF;
    text-shadow: 4px 5px 10px #333;
}

.call-to-action{
    background-color: #272d33;
    padding: 0;
    color: #FFF;
}

section{
    position: relative;
}

.h3sub{
    font-family: Ubuntu-Regular;
    height: 60px;
}

.call-to-action-btn-angle{
    background: #dc3545;
    height: 60px;
    padding: 8px 0;
    position: relative;
    text-align: center;
    color: #FFF;
}

.send{
    color: #FFF;
}

.send:hover{
    color: rgb(209, 206, 47);
}

.btn a{
    text-decoration: none;
    color: #FFF;
}

.btn a:hover{
    text-decoration: none;
    color: rgb(209, 206, 47);
}

.pulse{
    animation: pulse 0.7s infinite;
    margin: 0 auto;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse{
    0%{
        -webkit-transform: scale(1);
        -webkit-filter: brightness(100%);
    }
    100%{
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(200%);
    }
}

@keyframes pulse {
    0% {
      transform: scale(1);
      filter: brightness(100%);
    }
    100% {
      transform: scale(1.1);
      filter: brightness(200%);
    }
  }