
a:hover{
    color: #D71921 !important;
}

.iconSocial{
    height: 30px;
    width: 30px;
    color: black;
}

.iconSocial:hover{
    height: 30px;
    width: 30px;
    color: rgb(240, 115, 58);
}

.btnAniChamado:hover{
    color: #c5cdd4 !important;
}

.btnChamado{
    background-color: #D71921;
    color: #FFF;
}

.heroColorDefault{
    background-color: #D71921;
    color: #FFF;
}

.heroColorDefault:hover{
    background-color: #D71921;
    color: rgb(216, 212, 212);
}

.secaoTitulo{
    color: #FFF !important;
}

/* SLIDER */
@keyframes scroll{
    0%{
        transform: translateX(0);
    }100%{
        transform: translateX(calc(-250px * 7));
    }
}

.slider{
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider .slide-track{
   animation: scroll 40s linear infinite;
   display: flex; 
   width: calc(250px * 14);
}

.slider .slide{
    height: 100px;
    width: 250px;
}

.imgslide{
    margin-left: 40px;
}